/**
 * Page structure
 *****************************************************************************/
html,
body {
	height: 98%;
}

body {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	align-items: center;
	padding: 8px;
}

a {
	text-decoration: none;
}

/**
 * Header
 *****************************************************************************/
header {
	display: flex;
	align-self: flex-end;
}

header > div {
	margin: 5px;
}

header button {
	height: 100%;
}

/**
 * Main
 *****************************************************************************/
main {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	max-width: 350px;
	height: 85%;
}

#form-header-logos > * {
	background-image: url('./logos-spritesheet.png');
}

#form-header-logos {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}

#main-logo {
	height: 36px;
	width: 118px;
	margin-bottom: -10px;
}

#sub-logos {
	background-position: bottom left;
	height: 30px;
	width: 320px;
}

#main-form,
input {
	border: 1px solid hsla(127, 0%, 50%, 0.5);
	border-radius: 2px;
}

#main-form {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	text-align: center;
	padding: 20px;
	height: 100%;
}

form {
	display: flex;
	flex-flow: column wrap;
	justify-content: space-around;
	align-items: center;
	height: 100%;
}

input {
	width: 100%;
	max-width: 300px;
}

label {
	text-align: left;
}

/**
 * Footer
 * **************************************************************************/
footer {
	text-align: center;
}

footer a {
	margin: 0 8px;
}
